body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.recipe_card {
	margin: 10;
	text-indent: 10px;
	border-style: double;
	border-width: 3px;
	border-color: black;
	border-radius: 3px;
  	font-family: 'Patrick Hand SC', cursive;
  	width: 500px;
}

.category_card {
	font-family: 'Patrick Hand SC', cursive;
}

.diner_style {
	font-family: 'Fontdiner Swanky', cursive;
}

.description {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 24px;
}

.recipe_form {
	font-family: 'Patrick Hand SC', cursive;
}

.navbar {
	/*background-color: #f1f1f1;*/
	background-color: #e5ffe5
}

.navbar li {
	font-family: 'Patrick Hand SC', cursive;
	list-style-type: none;
	margin: 0;
	padding-right: 30px;
	display: inline;
	
}

.home {
	font-family: 'Patrick Hand SC', cursive;
	color: black;
	font-size: 24px;
}
