.navbar {
	/*background-color: #f1f1f1;*/
	background-color: #e5ffe5
}

.navbar li {
	font-family: 'Patrick Hand SC', cursive;
	list-style-type: none;
	margin: 0;
	padding-right: 30px;
	display: inline;
	
}

.home {
	font-family: 'Patrick Hand SC', cursive;
	color: black;
	font-size: 24px;
}
